.enfatizado {
    color: red;
}
div p a {
    color: black;
    text-decoration: none;
}
#ultimo #li_enlace a, #ultimo #li_enlace{
    color: blue;
    text-decoration: none;
}
#ultimo ul li{
    color:yellow;
}

div h3.importante {
    color: red;
}
div p.importante {
    color: green;
}

h1[title]{
    color: blue;
}

ol a:link, ol a:visited{
    color:blue;
    text-decoration: none;
}
ol a:visited {
    color:blueviolet;
    text-decoration: none;
}